/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define HYPER LC(LS(LG(LALT)))

// layers
#define QWERTY 0
#define CUSTOM 1
#define LOWER 2
#define MAGIC 3
#define SYMBOL 4
#define CURSOR 5
#define DEFAULT QWERTY

/ {
    behaviors {
        layer_td: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LOWER>, <&to LOWER>;
        };

        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };


        home_mod: home_row_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            quick-tap-ms = <150>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };
        thumb_lt: thumb_layer_tap_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_LAYER_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&mo>, <&kp>;
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
        dot_dot: dot_dot_macro {
            label = "DOT_DOT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp DOT>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            // Base QWERTY layout with homerow mods and thumb layer-taps
            bindings = <
            &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans
            &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &trans
            &trans        &kp Q         &kp W         &kp E         &kp R         &kp T         &kp Y         &kp U         &kp I         &kp O         &kp P         &kp MINUS
            &kp EQUAL     &home_mod LGUI A    &home_mod LALT S    &home_mod LCTL D    &home_mod LSFT F    &kp G         &kp H         &home_mod RSFT J    &home_mod RCTL K    &home_mod RALT L    &home_mod RGUI SEMI &kp SQT
            &mo LOWER     &kp Z         &kp X         &kp C         &kp V         &kp B         &kp DELETE    &kp LPAR      &kp RPAR      &kp HOME      &kp END       &kp TAB        &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &mo LOWER
            &magic MAGIC 0 &kp BSLH     &kp LBKT      &kp RBKT      &kp GRAVE     &thumb_lt CURSOR BACKSPACE &kp ESC    &kp INSERT    &trans        &kp ENTER     &thumb_lt SYMBOL SPACE &kp PG_UP     &kp UP        &kp DOWN      &kp PG_DN     &magic MAGIC 0
            >;
        };

        wegel_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3 |  F4  |  F5  |                                                               |  F6   |  F7   |  F8  |   F9  |  F10 |
            // |       |     |     |      |      |      |                                                 |      |       |       |      |       |      |
            // |       |     |  Y  |  O   |  U   |      |                                                 |      |   L   |   D   |  W   |       |      |
            // |   X   |  C  |  I  |  E   |  A   |  B   |                                                 |  Q   |   H   |   T   |  S   |   N   |   Z  |
            // | LSHFT |  V  |  G  |  J   |  K   |      |  ESC  | LCTRL | LOWER | | LGUI  | RCTRL | RSHFT |      |   R   |   M   |  F   |   P   | RSHFT|
            // | MAGIC |     |     |      |      |      | BSPC  | DEL   | LALT  | | RALT  | RET   | SPACE |      |       |       |      |       |      |

            bindings = <
            &kp F1         &kp F2   &kp F3      &kp F4      &kp F5                                                                                         &kp F6  &kp F7      &kp F8      &kp F9      &kp F10
            &none          &none    &none       &none       &none       &none                                                                      &none   &none   &none       &none       &none       &none
            &none          &none    &kp Y       &kp O       &kp U       &none                                                                      &none   &kp L   &kp D       &kp W       &none       &none
            &kp X          &kp C    &kp I       &kp E       &kp A       &kp B                                                                      &kp Q   &kp H   &kp T       &kp S       &kp N       &kp Z
            &kp LSHFT      &kp V    &kp G       &kp J       &kp K       &none   &kp ESC   &kp LCTRL   &layer_td  &kp LGUI  &kp RCTRL &kp RSHFT     &none   &kp R   &kp M       &kp F       &kp P       &kp RSHFT
            &magic MAGIC 0 &kp HOME &kp END     &kp LEFT    &kp RIGHT           &kp BSPC  &kp DEL     &kp LALT   &kp RALT  &kp RET   &kp SPACE     &kp PG_UP &kp PG_DN &none   &none       &none
            >;
        };

        lower_layer {
            bindings = <
            &kp C_BRI_DN      &kp C_BRI_UP        &kp C_PREV      &kp C_NEXT      &kp C_PP                                                                                                           &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP  &none           &kp PAUSE_BREAK
            &trans            &none               &none           &none           &none           &kp HOME                                                                              &kp LPAR     &kp KP_NUM   &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp PSCRN
            &trans            &none               &none           &kp UP          &none           &kp END                                                                               &kp RPAR     &kp KP_N7    &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp SLCK
            &trans            &none               &kp LEFT        &kp DOWN        &kp RIGHT       &kp PG_UP                                                                             &kp PRCNT    &kp KP_N4    &kp KP_N5    &kp KP_N6     &kp KP_PLUS     &none
            &trans            &kp K_CMENU         &none           &kp F11         &kp F12         &kp PG_DN       &trans      &trans      &to DEFAULT &trans      &trans      &trans    &kp COMMA    &kp KP_N1    &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &trans
            &trans            &kp CAPS            &kp INS         &kp F11         &kp F12                         &trans      &trans      &trans      &trans      &trans      &trans                 &kp KP_N0    &kp KP_N0    &kp KP_DOT    &kp KP_ENTER    &trans
            >;
        };

        magic_layer {
            bindings = <
            &bt BT_CLR        &none               &none           &none           &none                                                                                                           &none      &none      &none      &none      &bt BT_CLR_ALL
            &none             &none               &none           &none           &none           &none                                                                                &none      &none      &none      &none      &none      &none
            &none             &rgb_ug RGB_SPI     &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                                      &none      &none      &none      &none      &none      &none
            &bootloader       &rgb_ug RGB_SPD     &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                                      &none      &none      &none      &none      &none      &bootloader
            &sys_reset        &none               &none           &none           &none           &none           &bt_2     &bt_3     &none            &none     &none     &none       &none      &none      &none      &none      &none      &sys_reset
            &none             &none               &none           &none           &none                           &bt_0     &bt_1     &out OUT_USB     &none     &none     &none                  &none      &none      &none      &none      &none
            >;
        };
        symbol_layer {
            bindings = <
            &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &kp GRAVE
            &kp RBKT      &kp LPAR      &kp RPAR      &kp SEMI      &kp DOT       &trans        &trans        &trans        &trans        &trans        &trans
            &kp LBKT      &kp EXCL      &kp LBRC      &kp RBRC      &kp COMMA     &kp QMARK     &kp GRAVE     &sk RSFT      &sk RCTL      &sk RALT      &sk RGUI     &trans
            &kp HASH      &kp CARET     &kp EQUAL     &kp UNDER     &kp DLLR      &kp STAR      &kp DQT       &kp BSPC      &kp TAB       &kp SPACE     &kp RET      &trans
            &kp TILDE     &kp LT        &kp PIPE      &kp MINUS     &kp GT        &kp FSLH      &kp BSLH      &kp DOT       &kp STAR      &trans        &trans        &trans        &kp SQT       &kp DEL       &kp LS(TAB)   &kp INS       &kp ESC       &trans
            &dot_dot      &kp AMPS      &kp SQT       &kp DQT       &kp PLUS      &kp PRCNT     &kp COLON     &kp AT        &trans        &trans        &tog SYMBOL  &trans        &trans        &trans        &trans        &trans
            >;
        };

        cursor_layer {
            bindings = <
            &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans
            &kp ESC       &kp INS       &kp LS(TAB)   &kp DEL       &trans        &trans        &trans        &trans        &trans        &trans        &trans
            &trans        &kp RET       &kp SPACE     &kp TAB       &kp BSPC      &kp LC(X)     &kp LC(X)     &kp LS(TAB)   &kp LC(Z)     &kp LC(Y)     &kp TAB       &trans
            &sk LSHFT     &kp LGUI      &kp LALT      &kp LCTL      &kp LSFT      &kp LC(C)     &kp LC(C)     &kp LEFT      &kp UP        &kp DOWN      &kp RIGHT     &sk LSHFT
            &kp LC(L)     &kp LC(A)     &kp LS(HOME)  &kp LC(LS(RIGHT)) &kp LC(F) &kp LC(V) &kp LS(TAB) &kp TAB      &trans        &kp ESC       &kp LS(DOWN) &kp LC(LS(RIGHT)) &kp LC(V) &kp HOME &kp PG_UP &kp PG_DN &kp END &kp LC(L)
            &kp LC(K)     &kp LC(Z)     &kp LC(Y)     &kp LC(LS(G))  &kp LC(G)     &tog CURSOR   &trans        &trans        &kp LC(A)     &kp LS(HOME)  &kp LC(LS(RIGHT)) &kp LC(F) &kp LC(LS(G)) &kp LC(G) &kp LC(H) &kp LC(K)
            >;
        };


    };
};
